.Home {
    width: auto;
    margin-left: 18.5rem;
    padding: 2.5rem;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;

    }

    .button {
        border: none;
        padding: .7rem 3rem;
        text-decoration: none;
        display: inline-block;
        transition: all .25s ease-in-out;
        border-radius: .25em;
        line-height: 1.5;
        background: $accent-color;
        color: $white;
        cursor: pointer;
        box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, .1);


        &:hover {
            transform: scale(1.1);
        }

    }
}

.Table {
    margin-top: 1rem;
    padding: 2rem;

}

table {
    border-collapse: collapse;
    background: white;
}

thead {

    th {
        height: 2rem;
        font-weight: bold;
        text-transform: capitalize;
        padding: 1rem;
        user-select: none;
    }
}

tbody {

    tr {
        cursor: pointer;

        td {
            font-size: 1rem;
            font-weight: lighter;
            text-transform: capitalize;
            text-indent: 50px;
            padding: 1rem 0;
            user-select: none;
            border-top: 1px solid whitesmoke;

            button {
                padding: .5rem 1rem;
                border: none;
                cursor: pointer;
                margin: 0 .2rem;
                transition: .8 all;
                outline: none;
                ;

                &:hover {
                    background: darken($text-color, 10%);
                    color: $white;
                }

            }
        }
    }

    tr:nth-child(even) {
        background-color: #f7f7f7;
    }

    tr:nth-child(odd) {
        background-color: #ffffff;
    }

}