.Sidebar {
    position: fixed;
    width: 18rem;
    background: #333;
    height: 100vh;
    top: 0;
    background: $main-color;
    box-shadow: 0.5px 0 1px #d5d5d5;

    &__logo {
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-right: 1rem;
        }

        span {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    &__menu {
        padding: 0;

        &__items {
            list-style: none;
            margin: 0;

            &:last-child {
                margin-top: 1rem;
                border-top: 1px solid #e5e5e5;
            }

            svg {
                width: 2rem;
                margin: 0 .4rem;
            }

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                padding: 1.25rem 2rem .75rem 4rem;
                transition: all .8s;
                color: $text-color;

                &:hover {
                    background: #e5e5e5;
                }
            }
        }
    }
}